main .banner img {
    width: 100%;
    position: center;
    margin-top: -50px;
}
main .banner .content-banner {
    position: absolute;
    top: 40%;
    left: 10%;
}
main .banner .content-banner h3 a {
    color: white;
    text-decoration: none;
}
.content-banner h3 a span {
    color: #dcc84f;
}
@media (max-width: 800px) {
    .banner-judul {
        padding: 20px;
        padding-left: 50px;
        padding-top: 115px;
    }
    .banner-judul h1 {
        font-size: 22px;
    }
}
@media (max-width: 450px) {
    .banner-judul {
        padding: 20px;
        padding-left: 30px;
        padding-top: 115px;
    }
}
